{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {},
  "rules": {
    "curly": 2,
    "eqeqeq": 2,
    "wrap-iife": [
      2,
      "any"
    ],
    "no-loop-func": 0,
    "no-caller": 2,
    "quotes": [
      2,
      "single"
    ],
    "no-undef": 2
  }
}
